body {
    text-align: center;
    padding: 10px;
    background: lightgreen;
}

input {
    width: 400px;
    height: 30px;
}

button {
    width: 150px;
    height: 35px;
    border: 2px solid blue;
    background: pink;
    border-radius: 10px;
    font-size: 20px;
    font-family: serif;
}